@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');


.containerIcon {
    background: rgb(184,160,12);
    background: linear-gradient(94deg, rgba(184,160,12,1) 0%, rgba(255,240,134,1) 100%);  
    width: 5rem;
    height: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.textIcon {
    font-size: 17px;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: white;
}